@import "tailwindcss";


@font-face {
    font-family: font1;
    src: url(../public/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: font3;
    src: url(../public/fonts/Poppins-Light.ttf);
}