@import "tailwindcss";


@font-face {
    font-family: font1;
    src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: font3;
    src: url(/fonts/Poppins-Light.ttf);
}
/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
/* WIDTH */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #1f2937;
}

/* THUMB */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #a855f7,
    #7e22ce
  );

  border-radius: 999px;
}

/* HOVER */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #c084fc,
    #9333ea
  );
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 999px;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce transparent;
}
.stroke-text {
  -webkit-text-stroke: 2px white;
}